.my-custom-class .tooltip-inner {
    background-color: darkgreen;
    font-size: 125%;
}

.my-custom-class .arrow::before {
    border-top-color: darkgreen;
}

.rowcontainer {
    position: relative;
    margin-left: 10%;
}

#contiene {
    margin-top: 4%;
}

#botoncitos {
    margin-top: 2%;
}

.btn {
    margin-right: 5px;
}

#foto {
    float: left;
    background-color: aquamarine;
}

#data {
    float: left;
    background-color: blue;
    height: 20%;
    width: 30%
}