<nav class="navbar navbar-dark bg-dark">
    <a href="/" class=" navbar-brand " id="titulo">
        <img src="assets/img/palomitas-de-maiz1.png" width="40px" height="40px">PeliculasApp</a>
    <form class="form-inline ">
        <input class="form-control mr-sm-2 " type="search " placeholder="Buscar " aria-label="Search " #buscar (enter)="cualquiera(buscar.value)">
        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit " (click)="cualquiera(buscar.value)">Buscar</button>
    </form>
</nav>